<nav>
    <div class="site-title">
        <a href="/"><h1>Discipulus</h1></a>
        <p></p>
    </div>
    <ul>
        <li><a class="button" href="/">Home</a></li>
        <li><a class="button" href="/exams">Exams</a></li>
        <li><a class="button" href="/exams/create">Create Exam</a></li>
        <li><a class="button" href="/about" data-test-id="about">About</a></li>
        <li><a class="button" href="/dashboard">Dashboard</a></li>
        <li><a class="button" href="/users/login">Login</a></li>
    </ul>
</nav>