{{> navigation}}

<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/about.css">


<div class="about-body">
    <div class="about-container">
        <p class="about-title">How to attempt test</p>
        <hr>
        <p class="about-description">
            If you want to attempt test, You have to have test code, which
            is 12 digit code shared by person, who created test.
            If You have this code, then click on Home navigation button
            and pass test code in input line. That will redirect You to page
            in which one are presented information about test and You will
            be asked if You want to start test.
            While doing test You could see time which left to end of the test,
            number of question and question number You are current in, question,
            place to give an answer.
        </p>
    </div>
    <div class="about-container">
        <p class="about-title">How to create test</p>
        <p class="about-description">

        </p>
    </div>
</div>