{{> navigation}}

<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/home.css">


<div class="page-title">
    <h1>Discipulus</h1>
</div>

<div class="home-errors">
    <p>{{error}}</p>
</div>

<form class="exam-code" action="/" method="POST">
    <input name="code" type="text" placeholder="Test Code">
</form>

<div class="discipulus-description">
    <p>Intuitive and effective tool for conducting tests</p>
</div>
