.dashboard-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 7%;
    grid-row-gap: 5%;
    padding: 3% 7%;
    overflow: visible;
    align-items: flex-start;
}

.dashboard-container {
    text-align: center;
    border: 2px solid gray;
    height: auto;
    background: white;
    border-radius: 0.5em;
    overflow: hidden;
}

.dashboard-title {
    padding: 0.5em;
    font-size: 1.8em;
    font-family: 'Itim', cursive;
}

.dashboard-container-body {
    padding: 0.5em 2em;
    font-size: 1.2em;
    font-family: 'Itim', cursive;
}

.dashboard-exam {
    border: 2px solid gray;
    border-radius: 0.5em;
    width: 70%;
    margin: 1em auto;
    padding: 0.5em 0;
}
