.exams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15%;
    grid-row-gap: 20%;
    padding: 2em;
    overflow: visible;
    align-items: flex-start;
}

.exam-body {
    text-align: center;
    border: 1px solid gray;
    height: 15vh;
    background: white;
    border-radius: 0.5em;
    overflow: hidden;
}

.create-exam {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    width: 30vw;
    height: 60vh;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 32px;
}

.answer-create-question {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.3em;
}

.answer-variant {
    padding-right: 1em;
}

#question-content {
    width: 90%;
    height: 15%;
}

.create-exam > form > input, textarea {
    border: 2px solid #707070;
    border-radius: 0.2em;
}

.create-exam > form > input {
    font-size: 1.2em;
}

.create-exam #name {
    width: 80%;
}

.create-exam #time {
    width: 30%;
}

.create-exam > form > textarea {
    width: 90%;
    height: 7em;
}

.select-correct-answer{
    padding: 0.5em 0;
}

.correct-answer {
    padding: 0.5em;
}


