body {
    overflow: hidden;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    width: 25vw;
    height: 45vh;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 32px;
    font-family: 'Itim', cursive;
}

form.register {
    height: 55vh;
}

p {
    font-size: 1.2em;
}

.login-button {
    font-size: 1.2em;
    padding: 0.2em 1em;
    letter-spacing: 0;
}

.login-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    background: #fffcf5;
    border: 2px solid #707070;
    border-radius: 1em;
    padding: 0.5em 1em;
    width: 60%;
    font-size: 1em;
    font-family: 'Itim', cursive;
}
