p, h1, h2, h3, a, ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
}

.site-title {
    margin-left: 20px;
    text-shadow: 1px 1px #222;
}

.page-title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flax-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background: #fff6e0;
    letter-spacing: 0.1em;
    border: 2px solid #707070;
    border-radius: 1em;
    padding: 0.5em 1em;
    width: 30%;
}

.register-link {
    background: #fff6e0;
    border: 2px solid #707070;
    border-radius: 1em;
    padding: 0.5em 1em;
}

.title {
    font-size: 2em;
    padding-bottom: 0.5em;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

/* input border highlight on an linput text element */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
