@import "https://fonts.googleapis.com/css2?family=Itim&display=swap";

p, h1, h2, h3, a, ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
}

.site-title {
    margin-left: 20px;
    text-shadow: 1px 1px #222;
}

.page-title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button {
    background: #fff6e0;
    letter-spacing: 0.1em;
    border: 2px solid #707070;
    border-radius: 1em;
    padding: 0.5em 1em;
    width: 30%;
    font-family: 'Itim', cursive;
}

.register-link {
    background: #fff6e0;
    border: 2px solid #707070;
    border-radius: 1em;
    padding: 0.2em 1em;
    font-family: 'Itim', cursive;
}

.title {
    font-size: 2.2em;
    padding-bottom: 0.5em;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

/* input border highlight on an linput text element */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.solve-test-button {
    margin: auto;
    width: 15%;
    background: #fff6e0;
    border: 2px solid #707070;
    border-radius: 1em;
    padding: 1em 1em;
    font-family: 'Itim', cursive;
    text-align: center;
}

.exam-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 32px;
    width: 100vw;
}

.exam-details-field {
    padding: 0.5em 0;
    border: 1px solid gray;
    margin: 0.2em;
    border-radius: 0.5em;
}

.dashboard-body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 7%;
    grid-row-gap: 5%;
    padding: 2% 15%;
    overflow: visible;
    align-items: flex-start;
}

.dashboard-container {
    text-align: center;
    border: 2px solid gray;
    height: auto;
    background: white;
    border-radius: 0.5em;
    overflow: hidden;
}

.dashboard-title {
    padding: 0.5em;
    font-size: 1.8em;
    font-family: 'Itim', cursive;
}

.details-container-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5em 2em;
    font-size: 1.2em;
    font-family: 'Itim', cursive;
}

.dashboard-exam {
    border: 2px solid gray;
    border-radius: 0.5em;
    width: 70%;
    margin: 1em auto;
    padding: 0.5em 0;
}

.create-question {
    margin: auto;
    width: 20%;
    background: #fff6e0;
    border: 2px solid #707070;
    border-radius: 1em;
    padding: 0.5em 1em;
    font-family: 'Itim', cursive;
    text-align: center;
}

.question-title {
    font-weight: bold;
    padding-top: 0.5em;
}

