p, h1, h2, h3, a, ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
}

.site-title {
    margin-left: 10px;
    text-shadow: 1px 1px #222;
}

.page-title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

body {
    margin: 0;
    background-image: url("../public/img/background1920.jpg");
}