{{> navigation}}

<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/login.css">


<div class="login-container">
    <form class="login" action="/users/login" method="POST">
        <p class="title">Sing in</p>
            <h3>{{error}}</h3>
        <input class="un" name="email" type="text" placeholder="email@mail.com">
        <input class="pass" name="password" type="password" placeholder="password">
        <button type="submit">Login</button>
        <p class="register-link"><a href="/users/register">Register</a></p>
    </form>
</div>