{{> navigation}}

<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/exams.css">


<div class="create-exam content">
    <form action="/exams/create" method="POST">
        <p class="title">Create Exam</p>
        <label for="name">Exam name:</label>
        <input type="text" id="name" name="name" required>
        <label for="time">Time limit:</label>
        <input type="number" id="time" name="time" required>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
        <button>Submit</button>
    </form>
</div>