{{> navigation}}


<div class="page-title">
    <h2>create page</h2>
</div>


<div class="create-blog content">
    <form action="/exams/create" method="POST">
        <label for="name">Exam name:</label>
        <input type="text" id="name" name="name" required>
        <label for="time">Exam time:</label>
        <input type="number" id="time" name="time" required>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
        <button>Submit</button>
    </form>
</div>