{{> navigation}}

<link rel="stylesheet" href="/css/exams.css">

<div class="page-title">
    <h2>Exams</h2>
</div>


<div class="exams content">
    {{#if exams.length}}
        {{#each exams}}
            <div class="exam-body">
                <a class="single" href="/exams/{{_id}}">
                    <h3 class="title">{{name}}</h3>
                    <p>time: {{time}}</p>
                    <p>description: {{description}}</p>
                </a>
            </div>
        {{/each}}
    {{/if}}
</div>