{{> navigation}}


<link rel="stylesheet" href="/css/styles.css">

<div class="solutionResult-container">
    <div class="solutionResult">
        <p>Reached points: {{points}}</p>
        <p>Percent score {{percentScore}}%</p>
    </div>
</div>


